<div class="main_content">
  <section class="background_style">
    <div class="Customer_signin">
      <p class="Flash-error-signin_up"> <%= flash[:error_signin] %> </p>
      <div class="customer_block">
        <h1 class="NewCustomers_title">Sign in!</h1>
        <section class="Signin_content">
          <%= form_with url:sessions_path do |form| %>
            <div class="Form-section">
              <p class="Form-input-label">Email:</p>
              <div class="input-icons">
                <i class="fa fa-envelope icon"></i>
                <%= form.email_field :email,class:"Form-input",placeholder:"Email-id",autofocus: "autofocus" %>
              </div>
            </div>
            <div class="Form-section">
              <p class="Form-input-label">Password:</p>
              <div class="input-icons">
                <i class="fa fa-key icon"></i>
                <%= form.password_field :password,class:"Form-input",placeholder:"Password" %>
              </div>
            </div>
            <div class="Form-section">
              <%= form.submit "Sign-in!",class:"Form-submit" %>
            </div>
          <% end %>
        </section>
        <p class="Signup_link">Don't have an Account ? <%= link_to "Create Account",new_customer_path,class:"links" %> here </p>
      </div>
    </div>
  </section>
</div>
