<% total_earning=0 %>
<% orders_list.all.each do |order| %>
  <% total_earning=total_earning+order.bill %>
<% end %>
<p class="totalearning">Total Earning :<%= total_earning %>/-</p>
<table class="list_orders_to_admin">
  <tr class="list_row">
    <th colspan="2" class="heading_lists"> Name </th>
    <th class="heading_lists"> Contact Number </th>
    <th class="heading_lists"> Sub Total </th>
    <th class="heading_lists"> Details </th>
    <th colspan="2" class="heading_lists"> Address </th>
    <% if show_delivered_button %>
      <th class="heading_lists"> Status </th>
    <% end %>
  </tr>
  <% orders_list.all.each do |order| %>
    <tr class="list_row">
    <% customer=Customer.find(order.customer_id) %>
      <td colspan="2" class="list_row_data">
        <% customer_name=customer.first_name %>
        <% if customer.role=="Customer" %>
          <%= customer_name %>
        <% else %>
          <%= customer_name.concat(" (#{customer.role}) ") %>
        <% end %>
      </td>
      <td class="list_row_data">
        <%= customer.contact_number %>
      </td>
      <td class="list_row_data">
        <p class="order_bill"> Bill : <%= order.bill %>/-</p>
      </td>
      <td class="list_row_data">
        <%= form_with(url: "/orders/#{order.id}", method: "get",local: true) do %>
          <input class="button show list_row_show" type="submit" value="Show Details">
        <% end %>
      </td>
      <td colspan="2" class="list_row_data">
        <%= order.address %>
      </td>
      <% if show_delivered_button %>
        <td class="list_row_data">
          <%= form_with(url: "/orders/#{order.id}", method: "put",local: true) do %>
            <input type="hidden" name="bill" value="<%= order.bill %>">
            <input type="hidden" name="status" value="delivered">
            <input class="button delivered" type="submit" value="Deliver Order">
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
